body {
	// padding-top:140px;
}


a {
    color: inherit;
    text-decoration: none;

    &:hover {
        color: #0e8ce4 !important;
        text-decoration: none;
    }
}

.row-social {
    text-align: center;
    a:hover {
        color: #0e8ce4 !important;
        text-decoration: none;
    }
}

.icon-small
{
    height:18px;
    margin:0;
	padding:0;
}

.icon-medium
{
    height:22px;
	margin:0;
	padding:0;
}


/* START navbar */

// .navbar-header {
//   float: none;
// }
// .navbar-toggle {
//   display: block;
// }
// .navbar-collapse.collapse {
//   display: none!important;
// }
// .navbar-nav {
//   float: none!important;
//   color:white !important;
//
// }
// .navbar-nav li {
//   float: none;
//   color:white !important;
// }
.navbar-inverse .navbar-nav > li > a {
    color:white !important;
    font-size: 1.2em;
    text-align: center;
    letter-spacing: 2px;
    -webkit-transition: background 0.5s linear, color 0.5s linear;
    transition: background 0.5s linear, color 0.5s linear;
}
.navbar-inverse .navbar-nav > li > a:hover {
    color:black !important;
    background: white !important;
}

.navbar-inverse .navbar-nav > li.active > a {
    color:black !important;
    background: white !important;
}

// .navbar-collapse.collapse.in{
//   display:block !important;
// }
.navbar {
    // position: absolute;
    // left: 15%;
    // right: 0;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 0px;
    margin-bottom: 0px;
    padding: 3px;
    // margin:auto;
    // width: 300px !important;
}
// .navbar-brand {
//     color:white !important;
// }

.navbar-inverse .navbar-brand {
    color: white !important;
    border-right: 1px solid white;
    border: 1px solid white;
}

/* END navbar */



.intro {
    // background: black;
    height: auto;
    min-height: 800px;
}
.intro-cover {
    background: rgba(255, 255, 255, 0.9);
    height: auto;
    min-height: 800px;
}

.intro-image {
    // background: url("https://images.unsplash.com/photo-1489844097929-c8d5b91c456e?auto=format&fit=crop&w=752&q=80");
    background-image: url(/images/intro.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    // background-attachment: fixed;
}

.feedback {
    min-height: 600px;
    height: auto;
    // background-image: url(/images/intro.jpeg);
    // background-repeat: no-repeat;
    // background-position: center;
    // background-size: cover;
    // margin-top: -25px;
    // padding-top: 80px;
}

.feedback-image {
    // background: url("https://images.unsplash.com/photo-1488998427799-e3362cec87c3?auto=format&fit=crop&w=1050&q=80");
    // background: rgb(226, 226, 226);
    background-image: url(/images/contact-cover.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.feedback-cover {
    background: rgba(255, 255, 255, 0.9);
    min-height: 600px;
    height: auto;
}




.row-intro {
    margin-top:180px;
}

h1, h2, h3, h4, h5 {
    text-align: center;
}

.intro-text {
    color: black;
    font-size:2em;

}

.person-name {
    color: black;
}

.person-profession {
    color: black;
    font-size:1.5em;
}


// social links

.row-social {
    margin-top:20px;
}

.row-social {
    margin-top:0px;
}


.fa-twitter-head {
  padding: 10px;
  font-size: 30px;
  width: 60px;
  height: 55px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  color: black;
}


.fa-facebook-head {
  padding: 10px;
  font-size: 30px;
  width: 60px;
  height: 55px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  color: black;
}



.fa-twitter-footer, .fa-facebook-footer, .fa-telegram-footer {
  font-size: 20px;
  width: 60px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  color: white;
}



.fa-heart {
    color: white;
    font-size: 50px;
    margin:0 10px;

    transition: linear 0.3s color;
    -webkit-transition: linear color 0.3s;
}
.fa-heart:hover {
    color: red;
}


// more

.row-more {
    margin-top:190px;
}

.more-about {
    border: 1px solid black;
    border-radius:5px;
    padding: 2px;
    color:black;
}

.more-about a {
    display: block;
    width: 100%;
    height: 100%;
}

// about

.about {
    .row-thumbnails {
        padding: 60px 0;

        .author-block {
            display: block;
            text-align: center;
            width: 400px;
            background-image: url(/images/userimg.jpg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            color:white;
            font-size: 3em;
            padding: 160px 5px;
            height: 400px;
            border: 5px solid white;
            border-radius: 50%;

        }

        @media only screen and (max-width: 770px) {
            .author-block {
                max-width: 400px;
                min-width: 200px;
                margin: auto;
            }
        }


        .author-info-block {
            display: block;
            text-align: left;
            color:white;
            font-size: 1.1em;
            .info-item {
                .heading {
                    display: block;
                    font-size: 1.2em;
                    font-weight: bold;
                    border-bottom: 1px solid white;
                }
                padding: 10px 5px;
            }
        }
    }
}

.about-citate {
    text-align: center;
    p {
        display: inline-block;
        width: auto;
        border-bottom: 1px solid white;
        font-size : 1.8em;
        font-weight: normal;
        color : white;
        padding: 15px;
    }

    span.author {
        color: white;
    }


}
.about-cover {
    background: black;
    height: auto;
    padding-bottom: 40px;
}


.skills {
    background-image: url(/images/intro3.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    .hovdev-block {
        display: block;
        text-align: center;
        width: 100%;
        margin: auto;
        border-bottom: 3px solid black;
        color:black;
        font-size: 3em;
        padding: 60px 5px;
        height: 200px;
    }
    .skill-parent {
        padding: 20px 0;
    }
    .skill-item-block {
        display: block;
        text-align: center;
        width: 100%;
        color:white;
        font-size: 3em;
        height: 200px;
        margin: 15px 0;

        .skill-img {
            background-repeat: no-repeat;
            background-position: center;
            background-size: 100%;
            width: 100%;
            height: 100%;
        }

        .php {
            background-image: url(/images/skills/php.png);
        }
        .wordpress {
            background-image: url(/images/skills/wordpress.png);
        }
        .laravel {
            background-image: url(/images/skills/laravel.png);
        }
        .vue {
            background-image: url(/images/skills/vue.png);
        }
        .js {
            background-image: url(/images/skills/js.jpeg);
        }
        .bootstrap {
            background-image: url(/images/skills/bootstrap.png);
        }
        .sass {
            background-image: url(/images/skills/sass.jpg);
        }

        .html {
            background-image: url(/images/skills/html.jpg);
        }

        .css {
            background-image: url(/images/skills/css.jpg);
        }
        .node {
            background-image: url(/images/skills/node.jpg);
        }
        .jquery {
            background-image: url(/images/skills/jquery.png);
        }
        .linux {
            background-image: url(/images/skills/linux.jpg);
        }

    }

    .project-item-block {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        color:black;
        font-size: 3em;
        height: 200px;
        margin: 15px 0;

        .project-img {
            background-repeat: no-repeat;
            background-position: center;
            background-size: 100%;
            width: 100%;
            height: 100%;

            .project-img-cover {
                position: relative;
                display: flex;
                background: rgba(0, 0, 0, 0.8);
                width: 100%;
                height: 100%;
                text-align: center;
                justify-content: center;
                align-items: center;

                -webkit-transition: background 1s; /* Safari */
                transition: background 1s;
                .project-name {
                    position: relative;
                    display: flex;
                    color: white;
                    font-weight: normal;
                    font-size: 3rem;
                    border-bottom: 1px solid white;

                    -webkit-transition: opacity 1s; /* Safari */
                    transition: opacity 1s;
                }
            }

            .project-img-cover:hover {
                background: rgba(0, 0, 0, 0);
                .project-name {
                    opacity: 0;
                }
            }

        }


        .insure {
            background-image: url(/images/projects/insure.az.png);
        }
        .layf {
            background-image: url(/images/projects/layf.az.png);
        }
        .netstore {
            background-image: url(/images/projects/netstore.az.png);
        }
        .sahratravel {
            background-image: url(/images/projects/sahratravel.com.png);
        }
        .netchits {
            background-image: url(/images/projects/netchits.com.png);
        }
        .onversus {
            background-image: url(/images/projects/onversus.fun.png);
        }

    }


}
.skills-cover {
    // background: rgba(14, 140, 228, 0.9);
    background: rgba(255, 255, 255, 0.9);
    // background: rgba(0, 0, 0, 0.9);

    height: auto;
    padding-top: 40px;
    padding-bottom: 40px;
}



.about-image {

    background: url("https://images.unsplash.com/photo-1479920252409-6e3d8e8d4866?auto=format&fit=crop&w=750&q=80");
    background-repeat: no-repeat;
    background-position: center;
    // background-attachment: fixed;
    background-size: cover;
}
.row-about {
    margin-top: 5%;
}

.row-arsenal {
    margin-top:5%;
    color:white;
}
.row-arsenal-header {
    margin-top:-20px;
}
.row-arsenal h3 { text-align:center; }
.arsenal-group {
    margin-top: 10px;
}
.arsenal-group .list-group-item {
    background: none !important;
    border: none !important;
    margin-top:5px;
    text-align: left;
    padding:5px 15px !important;
}



.personal-group .list-group-item {
    background: none !important;
    border: none !important;
    padding-top: 0px !important;
    text-align: left;
}

// feedback

.row-feedback-citate {
    margin-top: 5%;
}

.row-feedback-form {
    margin-top: 5%;
}

.contact-citate {
    margin-top:0px !important;
    font-size:5em;
    color:black;
}


// footer

.mail-column {
    text-align: center;
}

.mail-text {
    color:white;
}

.fa-envelope-o {
    font-size: 60px;
    text-align: center !important;
    text-decoration: none;
    margin: 5px 2px;
    color: white;
}

.fa-phone {
    font-size: 60px;
    text-align: center !important;
    text-decoration: none;
    margin: 5px 2px;
    color: white;
}

.fa-map-marker {
    font-size: 60px;
    text-align: center !important;
    text-decoration: none;
    margin: 5px 2px;
    color: white;
}

.footer {
    height: auto;
    min-height: 400px;
}

.row-footer {
    margin-top: 50px;
}

.authors {
    margin-top: 50px;
}

.footer-image {
    // background: url("https://images.unsplash.com/photo-1488998427799-e3362cec87c3?auto=format&fit=crop&w=1050&q=80");
    background: black;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 400px;

}

.phone, .number {
    font:1em Arial;
}

.lang-border {
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px;

    -webkit-transition: background 0.5s linear, color 0.5s linear;
    transition: background 0.5s linear, color 0.5s linear;
}
.lang-border:hover {
    background: white;
    color: black;
}

.download-cv-parent {
    display: block;
    margin:auto;
    width: 150px;
    padding: 10px;
}

.more-about-parent {
    display: block;
    margin:auto;
    width: 150px;
    padding: 10px;
}

.btn-download-cv {
    width: 100%;
    margin-top: -10px !important;
}

.btn-more-about {
    padding: 10px;
    height: 50px;
    background: #25e865;
    border-radius: 5px;
    color: white !important;
    transition: color 0.5s linear, background 0.5s linear;
}

.btn-more-about:hover {
    color: white !important;
    background: #00b53b;
}


a#more-about:visited{
    text-decoration: none;
    outline: none;
    color:inherit;

}
a#more-about:link{
    text-decoration: none;
    outline: none;
    color:inherit;
}
a#more-about:active{
    text-decoration: none;
    outline: none;
    color:inherit;
}
a#more-about:hover {
    color:black;
}


.work-places-parent {
    padding: 80px 0;
    .work-places {
        text-align: center;
        padding: 15px 5px;
        span {
            font-size: 1.2em;
            padding: 5px;
        }
    }
}

@media only screen and (max-width: 770px) {
    .work-places-parent {
        padding: 40px 0;
    }
}




.hovdev-line {
    padding: 10px;
    border: 3px solid black;
}
